<section class="sobre-la-empresa-section">
  <div class="bg-image-section">
    <div class="overlay-text">
      <h2>Sobre la empresa</h2>
      <p>
        AgroKasa impulsa el crecimiento agrícola en Ica mediante la producción y comercialización de productos de alta calidad,
        actuando con innovación, eficiencia y responsabilidad social.
        Apuesta por la modernización continua, incorporando soluciones tecnológicas que fortalecen la productividad de sus trabajadores.
      </p>
      <p>
        La empresa se proyecta como líder en el sector agroindustrial peruano,
        con procesos sostenibles y una gestión eficiente de recursos.
      </p>
    </div>
  </div>

  <div class="white-section container py-5">
    <div class="row align-items-center">
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh3XrCUXWi_BX9ftGFrnoyDzyjETpN7INNww&s" alt="Icono Agroindustrial" class="icono-empresa">
      </div>
      <div class="col-md-8">
        <h3 class="mb-3">¿Qué hacemos? </h3>
        <p>
          AgroKasa se dedica a transportar y comercializar productos agrícolas cumpliendo con estándares internacionales.
          Los trabajadores recolectan con estrictas políticas de calidad, garantizando frescura y sostenibilidad.
        </p>
        <p>
          Todo el proceso está respaldado por un sistema digital de control de asistencia adaptado a zonas rurales,
          reforzando la eficiencia operativa y la transparencia en la gestión del recurso humano.
        </p>
      </div>
    </div>
  </div>
</section>
