<div class="fixed-header">
  <div class="top-banner bg-dark-blue text-white py-2 text-center">
    Postula ahora y únete a <a href="postular" class="btn btn-warning mx-2">Nuestro Equipo</a> ¡sé parte de una experiencia única!
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
  <span class="brand-text me-2">AGRO<span class="text-success">CYT</span></span>
        <small style="font-size: 0.7rem; color: #006400; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">
          por Agrokasa
        </small>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link text-white" href="#">Inicio</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="nosotros">Nosotros</a></li>

          <li class="nav-item"><a class="nav-link text-white" href="info">Cultivos</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Noticias</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="postular">Postula aqui!</a></li>
          <li class="nav-item"><a class="nav-link text-white bg-dark " href="ingreso" >Portal del Empleado</a></li>
          <button *ngIf="isLoggedIn" type="button" class="btn btn-danger" (click)="cerrarSesion()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
       class="bi bi-box-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
    <path fill-rule="evenodd"
          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
  </svg>
  Cerrar sesión
</button>
        </ul>
      </div>
    </div>
  </nav>
</div>
