<div class="container-fluid p-0">
  <header class="bg-success text-white py-3 px-4 d-flex align-items-center shadow">
    <h1 class="h4 m-0" >Te damos la bienvenida, $usuario$</h1>
  </header>

  <div class="d-flex">
    <!-- Menú lateral -->
    <nav class="menu-izquierdo">
      <ul class="list-unstyled">
        <li class="titulo-menu">Menú</li>
        <li class="opcion-menu"><a routerLink="#">Informacion Personal</a></li>
        <li class="opcion-menu"><a routerLink="#">Horario</a></li>
        <li class="opcion-menu"><a routerLink="#">Certificados</a></li>
        <li class="opcion-menu"><a routerLink="#">Historial de Asistencias</a></li>
        <li class="opcion-menu"><a routerLink="#">Solicitudes Laborales</a></li>
      </ul>
    </nav>

    <!-- Contenido principal -->
    <main class="cuadro-transparente  flex-grow-1 d-flex justify-content-center align-items-center">
      <div class="cuadro-transparente text-center">
        <h2 class="mb-3">Información Personal</h2>

        <p class="text-black"><strong>Nombres:</strong> {{ persona.nombres }}</p>
        <p class="text-black"><strong>Apellidos:</strong> {{ persona.apellidos }}</p>
        <p class="text-black"><strong>Dirección:</strong> {{ persona.direccion }}</p>
        <p class="text-black"><strong>Teléfono:</strong> {{ persona.telefono }}</p>
        <p class="text-black"><strong>Zona laboral:</strong> {{ persona.zonaLaboral }}</p>
        <p class="text-black"><strong>Supervisor:</strong> {{ persona.supervisor }}</p>


      </div>
    </main>

  </div>
</div>
