<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Inicio Futurista</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto&display=swap" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

</head>
<body>
</body>
<br><br>
<div class="software-agricola-container d-flex align-items-center justify-content-center flex-wrap">
  <div class="software-agricola-text">
    <h2>Exportaciones agrícolas desde 1996</h2>
    <p>
      Todo lo que hacemos se basa en cuatro pilares fundamentales: adaptable,
      preparado para el futuro, con mentalidad de agricultor y empresario e impulsado por
      el conocimiento. Así es AgroCYT en esencia. Respondemos rápidamente
      a los nuevos nuevos productos que podamos exportar, innovaciones en la
      agrícola y a las peticiones y sugerencias de nuestros clientes.
    </p>
    <button class="btn-descubra" onclick="window.location.href='nosotros'">Descubra quiénes somos →</button>
  </div>
  <div class="software-agricola-img">
    <img src="https://www.esan.edu.pe/images/blog/2017/08/09/1500x844-agroexportaciones.jpg" alt="Agricultor en campo" />
  </div>
</div>
<br><br>

</html>

